# Dependencies
node_modules/
neelu/node_modules/

# Build and Temp files
neelu/dist/
neelu/dist-ssr/
.data/
neelu/.data/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.*.local
neelu/.env

# OS Files
.DS_Store
Thumbs.db
